@model Student

@{
    ViewData["Title"] = "Add new Student";
}

<div class="row">
    <div class="col-sm-4 mx-auto bg-light">
        <div clsss="col-md-8 offser-2">
            <div class="form_title">
                <h1 class="text-center">Add a new Student</h1>
            </div>

            <div class="row">
                <div class="col-md-8 offset-2">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" required/>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" required/>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" required/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Phone"></label>
                            <input asp-for="Phone" class="form-control" required/>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control" required/>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="City"></label>
                            <input asp-for="City" class="form-control" required/>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="StudyYear"></label>
                            <input asp-for="StudyYear" class="form-control" required min="1" max="4"/>
                            <span asp-validation-for="StudyYear" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Age"></label>
                            <input asp-for="Age" class="form-control" required min="18" max="100"/>
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>


                        <div class="mb-3 form-bottom">
                            <input type="submit" value="Create" class="btn btn-outline-success" />
                            <a class="btn btn-outline-secondary" asp-action="Index">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
