@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="form_title">
        <h1 class="display-4">Welcome</h1>
        <p>Here you can:</p>
    </div>
    <div b-uwaevnlf68="" class="container-fluid">
        <main b-uwaevnlf68="" role="main" class="pb-3">
            <div class="row">
                <div class="col-sm-4 mx-auto">
                    <div clsss="col-md-8 offser-2">

                        <div class="row">
                            <div class="col-md-8 offset-2">
                                <ul class="list-group">
                                    <li class="list-group-item">View All Students</li>
                                    <li class="list-group-item">View Specific Student Details</li>
                                    <li class="list-group-item">Create New Student entity</li>
                                    <li class="list-group-item">Edit Student data</li>
                                    <li class="list-group-item">Delete Student</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
