<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="Shared/Layout :: header-css">
</head>
<body>
	<header th:insert="Shared/Layout :: header"></header>
	<div b-uwaevnlf68="" class="container-fluid">

		<div class="row">
			<div class="col-sm-4 mx-auto bg-light">
				<div clsss="col-md-8 offser-2">
					<div class="form_title">
						<h1 class="text-center">
							Update Student
						</h1>
					</div>
					<div class="row">
						<div class="col-md-8 offset-2">
							<form method="post" th:object="${StudentDetails}">
								<div class="mb-3">
									<label for="FirstName">FirstName</label> 
									<input class="form-control" type="text" required th:field="*{firstName}">
								</div>
								<div class="mb-3">
									<label for="lastName">LastName</label> 
									<input class="form-control" type="text" required th:field="*{lastName}">
								</div>
								<div class="mb-3">
									<label for="email">Email</label> 
									<input class="form-control" type="text" required th:field="*{email}">
									<span th:if="${error} == 'true'" class="text-danger field-validation-valid">The user email already exists 2</span>
								</div>
								<div class="mb-3">
									<label for="phone">Phone</label> 
									<input class="form-control" type="text" required th:field="*{phone}">
								</div>
								<div class="mb-3">
									<label for="address">Address</label> 
									<input class="form-control" type="text" required th:field="*{address}">
								</div>
								<div class="mb-3">
									<label for="city">City</label> 
									<input class="form-control" type="text" required th:field="*{city}">
								</div>
								<div class="mb-3">
									<label for="studyYear">StudyYear</label> 
									<input class="form-control" type="number" min="1" max="4" required th:field="*{studyYear}">
								</div>
								<div class="mb-3">
									<label for="age">Age</label> 
									<input class="form-control" type="number" min="18" max="100" required th:field="*{age}">
								</div>
								

								<div class="mb-3 form-bottom">
									<button type="submit" class="btn btn-outline-success" th:action="@{Edit}">Update</button>
									<a class="btn btn-outline-secondary" href="/Students">Cancel</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<footer th:insert="Shared/Layout :: footer"></footer>
</body>
</html>